# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# Database
*.db
*.sqlite3

# Node.js
node_modules/
**/node_modules/

# Next.js
.next/
**/.next/

# Build output
dist/
build/
out/

# OS files
.DS_Store
Thumbs.db